<html>
    <head>
        <title>hackathon</title>
        <style>
            *{
    margin: none;
    padding: none;
}

footer{
    position: fixed;
    bottom: 0px; 
    left: 0px;
    width: 100%;
    height: auto;
    /* background-color: #777; */
    background-color: rgba(36, 94, 187, 0.746);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    color: white;
}

        </style>
    </head>
    
    
    <footer>
        <p>
            Copyright
        </p>
    </footer>
</html>